<html>
  <head>
    {% if title %}
        <title>{{ title }} - awesome</title>
    {% else %}
        <title>Kindom - Boring</title>
    {% endif %}
  </head>
  <body>
    <div>{{title}} <a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
