{% extends "main.html" %}
{% block content %}
<div class="container-fluid" style='text-align:center'>

<div class="jumbotron container-fluid" style="display:inline-block">
  <h1>Monitor</h1>
  <p>Monitor status_code and response for endpoints of configured API's</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button" >Monitor</a></p>
</div>

<div class="jumbotron container-fluid" style="display:inline-block">
  <h1>Configure</h1>
  <p>Add, &nbsp;Delete, &nbsp;Edit&nbsp;API's</p>
  <p><a class="btn btn-primary btn-lg" href="/login" role="button" >Add</a></p>
</div>

</div>
{% endblock %}
